.about-us {
  padding: 2rem;
  /* background: linear-gradient(to right, #f9f9f9 0%, #e0e0e0 100%); */
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  border-radius: 10px;
  box-shadow: 0 0 5px #009ee244;
  margin-top: 3rem;
  max-width: 1200px; /* Set a maximum width */
  margin-left: auto; /* Center the element */
  margin-right: auto; /* Center the element */
  margin-bottom: 3rem;
}

.about-us h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #005ca8; /* darker color for the title */
  font-size: 3rem; /* larger font size */
  font-weight: bold; /* make it bold */
}

.about-us .intro {
  font-size: 1.2rem; /* larger font size */
  margin-bottom: 2rem;
  line-height: 1.6;
  text-align: justify;
  color: #34495e; /* darker color for the text */
}

.about-us section {
  margin-bottom: 1.5rem;
  padding: 2rem; /* more padding */
  background-color: #009ee20d; /* lighter background color */
  border-radius: 10px; /* larger border radius */
}

.about-us section h2 {
  font-size: 2.5rem; /* larger font size */
  margin-bottom: 1rem;
  color: #005ca8; /* darker color for the title */
  /* make it bold */
}

.about-us section p {
  font-size: 1.2rem; /* larger font size */
  line-height: 1.8; /* more line height */
  text-align: justify;
  color: #34495e; /* darker color for the text */
}

#divider-section {
  background-color: #005ca847;
}
