.partners-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem ;
  }
  
  .partners-title {
    color: #005CA8;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }