.outer-slider-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.slider-container {
  width: 90%; /* or any other value less than 100% */
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.slider-container .slick-slide img {
    width: 90%; /* Adjust this value as needed */
    height: 100% auto;
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
     /* Add this line if the images are not centered */
  }
  
  /* .slider-container .slick-slide {
    padding: 1rem;
  }
  
  .slider-container .slick-slide img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Limit the height of the images */
    /* object-fit: cover; Ensure the images cover their container without stretching */ */
  /* } */