.outer-slider-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.slider-container {
  width: 90%; /* or any other value less than 100% */
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.slider-container .slick-slide img {
    width: 90%; 
    height: 100% auto;
    margin: 0 auto; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
